<div class="bgImageAbout">
  <div class="aboutDiv row row-cols-1 row-cols-sm-2 row-cols-md-4 d-flex flex-row text-center align-items-center alignCenter text-light pt-3 pb-3">
    <div class="pt-3 pb-3 zIndex1">
      <div class="borderIcon d-flex justify-content-center alignCenter "><i class="align-self-center  fs-3 fas fa-hotel"></i></div>
      <div class="card-body">
        <h5 class="card-title">Accommodation</h5>
        <p class="card-text">We offer the finest selection of top notch hotels everywhere!</p>
      </div>
    </div>
    <div class="pt-3 pb-3">
      <div class="borderIcon d-flex justify-content-center alignCenter"><i class="align-self-center fs-3 fas fa-plane"></i></div>
      <div class="card-body">
        <h5 class="card-title">Transportation</h5>
        <p class="card-text">Whether it's about our tickets or shuttle bus, we will set it up.</p>
      </div>
    </div>
    <div class="pt-3 pb-3">
      <div class="borderIcon d-flex justify-content-center alignCenter"><i class="align-self-center fs-3 fas fa-user-friends"></i></div>
      <div class="card-body">
        <h5 class="card-title">Seasoned Agents</h5>
        <p class="card-text">Combined, the experience our agents have is centuries!</p>
      </div>
    </div>
    <div class="pt-3 pb-3">
      <div class="borderIcon d-flex justify-content-center alignCenter"><i class="align-self-center fs-3 fas fa-star"></i></div>
      <div class="card-body">
        <h5 class="card-title">Easy Trip Planning</h5>
        <p class="card-text">Our travel agents are always ready to plan your perfect trip!</p>
      </div>
    </div>
  </div>
</div>
<div class="mask maskBg">  <!-- the mask will help us make the img darker so our content will be more visible -->
  <div class="d-flex justify-content-center align-items-start"></div>
</div>
