/* You can add global styles to this file, and also import other style files */


/* styling the background image in hero section */
.bg-image {
  background: url(https://images.pexels.com/photos/1973293/pexels-photo-1973293.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center fixed;
  height: 70vh;
  -webkit-background-cover: cover ;
  -moz-background-cover: cover ;
  -o-background-cover: cover ;
  background-size: cover; 
}

.alignCenter {
  margin: 0 auto;
}