/* You can add global styles to this file, and also import other style files */


/* styling the background image in hero section */
.bg-image {
  background: url(img/pexels-evgenia-kirpichnikova-1973293.jpg) no-repeat center fixed;
  height: 70vh;
  -webkit-background-cover: cover ;
  -moz-background-cover: cover ;
  -o-background-cover: cover ;
  background-size: cover; 
}

.alignCenter {
  margin: 0 auto;
}